.container {
  width: 230px;
  height: 350px;
  border-radius: 12px;
  padding: 10px 10px 0 10px;
  border: 1px solid var(--gray3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.container:hover {
  transform: scale(1.02);
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageDiv {
  width: inherit;
  /* height: 180px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
}

.imageDiv img {
  height: 100px;
  max-width: 200px;
  border-radius: 8px;
}

.contentDiv {
  margin-top: 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-gray);
}

.heading {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.desc {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.btn {
  width: 100%;
  text-align: center;
  border: none;
  border-top: 1px solid var(--gray3);
  margin-bottom: 0;
  background-color: var(--white);
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.4s;
}

.btn:hover {
  background: transparent;
  color: var(--green);
  font-weight: 600;
  gap: 20px;
}

.special {
  color: var(--green2);
}

@media only screen and (max-width: 800px) {
  .container {
    width: 220px;
    height: 300px;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px 0;
  }

  .desc,
  .btn {
    font-size: 13px;
  }
}
