.container {
  width: 250px;
  padding: 0;
  margin: 0;
}

.container img {
  width: 250px;
  height: 250px;
}

.heading {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0;
}

.desc {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (max-width: 1100px) {
  .heading {
    font-size: 24px;
  }

  .desc {
    font-size: 15px;
  }
}
