.titleCardContainer {
  width: 200px;
  height: auto;
  background-color: var(--white);
  border: none;
  padding: 20px 0;
  border-radius: 100px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  cursor: pointer;
}

.titleCardContainer:hover {
  transform: scale(1.02);
}

.titleCardHeading {
  width: 130px;
  font-size: 13px;
  margin: 0 0 5px 0;
  /* width: 200px; */
  text-align: center;
  text-wrap: wrap;
}

.titleCardDate {
  font-size: 10px;
  margin: 0;
}
